/* Fonts */

$primary-font: 'Source Sans Pro', sans-serif;
$primary-font-size: 16px;

/* Colors */

$primary-color: #2085ff;
$secondary-color: #ddd9d9;
$black-color: #161616;

$primary-hover: #1d5dac;



/* Mobile breakpoints */

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1439.98px;
$x2: 1679.98px;