.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px;

    .item {
       
        flex-wrap: wrap;
        padding: 1rem 2rem; 

        .item-logo{
            width: 50%;
        }
    
        .item-2 {
            width: 50%;
        }
    
        .item-3,
        .item-4,
        .item-5 {
            width: 33.33%;
        }

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: $primary-color;
            }

            i{
                color: $primary-color;
                padding-right: 1rem;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                span {
                    padding-right: .7rem;
                }
            }
        }
    }
}

.blue-text {
    color: $primary-color;
}


@media all and (min-width: $md) {
    .footer-content{
        padding-left: 135px;
        padding-right: 135px;

        .item-logo{
            width: 30%
        }

        .item-2,
        .item-3,
        .item-4,
        .item-5 {
            width: 17.5%;
        }
    }

   
}